@media only screen and (max-width: 768px) {
	
html {
  height:100%;
  min-height:100%;
}

body{
	margin:0;
	padding: 0;
	background-color: #000;
	background: #000 url(https://cloud.githubusercontent.com/assets/1762760/6544721/1b271388-c512-11e4-925c-63c9e8742d61.jpg) 50% 0 no-repeat fixed;
	background-attachment: fixed;
	background-size: cover;
	min-height:100%;
}
	
#container {
	font-size: 1.4em;
	color: gray;
	padding: .5em .7em;
	}

div i {
	font-family: 'Tangerine', serif;
	font-size: 1.8em;
}

a, a:active, a:hover, a:visited {
	text-decoration:none;
	color: rgb(195, 146, 56);
}
	
#home {

}
	
#home div {
	background-color:rgba(0,0,0,0.8);
	margin-bottom: .5em;
	padding: .1em;
	color: firebrick;
		display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

	
#home div i {
	font-family: 'Tangerine', serif;
	font-size: 2.2em;
}

#sect2 div {
	background-color:rgba(0,0,0,0.8);
	margin-bottom: .5em;
	padding: .3em;
	color: darkgreen;
}
	
#sect4 div {
	background-color:rgba(0,0,0,0.8);
	margin-bottom: .5em;
	padding: .3em;
	color: goldenrod;
}
	
#sect5 div {
	background-color:rgba(0,0,0,0.8);
	margin-bottom: .5em;
	padding: .3em;
	color: rgb(56, 107, 187);
}
	
	
#always div {
	background-color:rgba(0,0,0,0.8);
	margin-bottom: .5em;
	padding: .3em;
}

#always div b {
	font-family: 'Tangerine', serif;
	font-size: 1.6em;
}

}

